alabaster==0.7.13
Babel==2.12.1
beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
docutils==0.19
fonttools==4.39.3
furo==2023.3.27
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
latexcodec==2.0.1
lazy_loader==0.2
MarkupSafe==2.1.2
matplotlib==3.7.1
neo4j==5.8.0
networkx==3.1
numpy==1.24.3
outdated==0.2.2
packaging==23.1
pandas==2.0.1
pandas-flavor==0.5.0
patsy==0.5.3
Pillow==9.5.0
pingouin==0.5.3
pybtex==0.24.0
pybtex-docutils==1.0.2
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.29.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==6.2.1
sphinx-basic-ng==1.0.0b1
sphinx-copybutton==0.5.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.8.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.13.5
tabulate==0.9.0
threadpoolctl==3.1.0
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.15
xarray==2023.4.2
